.comments {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.comments-list {
  display: flex;
  flex-direction: column;

  padding: 10px;
  margin: 10px;

  border-radius: 5px;
  background-color: rgb(54, 54, 54);

  list-style-type: none;
}

.empty {
  margin-top: 10px;
  font-weight: bold;
  color: yellowgreen;
  text-align: center;
}
