{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}

    <h2 style = "margin-left: 40px; font-weight: bold;">Edit Page</h2>
    <form action = "{% url 'wiki:editentry' title %}" method = "post">
        {% csrf_token %}
        {{ from.non_field_errors }}
        <ul style = "list-style-type: none;">
            <li>
                {{ form.title.label_tag }}
                {{ form.title }}
                {{ form.title.errors }}
            </li>
            <li>
                <label for = "{{ from.content.id_for_label }}" id = "content-label">Content:</label>
                {{ form.content }}
                {{ form.content.errors }}
            </li>
        </ul>
        <input class = "btn btn-primary save-btn" type = "submit" value = "save">
    </form>

{% endblock %}