body {
    font-family: arial,sans-serif;;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.nav-bar a {
    font-weight: bold;
    font-size: 14px;
}

.nav-bar img {
    width: 74px;
    height: 24px;
}

.right {
    margin-left: auto;
    margin-right: 5px;
}

.search-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search-area > img {
    width: 272px;
    height: 92px;
    display: block;
    margin: auto;
}

#search-field {
    width: 500px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    font-weight: bold;
    font-size: 17px;
}

header {
    margin: 35px;
}

header label {
    width: 200px;
    height: 22px;
    color: #d93025;
    font-size: 20px;
}

.advanced-search-area {
    margin-left: 35px;
}

.row {
    margin: inherit;
    width: 43%;
    padding: 5px;
}

.row label {
    font-size: 13px;
}

.text-field1 {
    width: 373.5px;
    height: 29px;
    margin-left: auto;
    /* margin-right: 10px; */
}

.text-field2 {
    margin-left: auto;
}

.text-field2, .text-field3 {
    width: 161px;
}

#submit {
    margin-top: 5px;
}