{% extends "auctions/layout.html" %}

{% block body %}
    
    <h2>Active Listings</h2>
    {% for listing in listings %}
        <div class = "listing">
            {% load static %} <img src = "/static/auctions/media/{{listing.image}}">
            <div class = "details">
                <h3><b>{{ listing.title }}</b></h3>
                <div><b>Description:</b> {{ listing.description }}</div>
                <div><b>Current Price:</b> {{ listing.starting_bid }}</div>
                <div><b>Created:</b> {{ listing.date_time }}</div>
                <a class = "btn btn-primary" href = "#">View Details</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}